.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  gap: 20px;
  background-image: url("/banner.jpg");
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  width: 100vw;

  span {
    color: $secondary-color;
    font-size: $section-font-size;
    font-weight: $section-font-weight;
  }

  h1 {
    font-size: $mobile-heading-font-size;
    font-weight: $banner-font-weight;
    margin: 0;
  }

  p {
    font-size: $paragraph-font-size;
    font-weight: $parargraph-font-weight;
    line-height: $paragraph-line-height
  }

  .discover-btn {
    @include mobileButton();
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .discover-btn:hover {
    background-color: $primary-color;
  }

  .splash {
    position: absolute;
    width: 100%;
    bottom: 0;
    object-fit: cover;
    z-index: -9;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    h1 {
      font-size: $banner-font-size;
    }

    .splash {
      bottom: -100px;
    }
    .discover-btn {
      @include primaryButton();
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    .splash {
      bottom: -190px;
    }
  }
}
