//colors
$primary-color: #3c86cb;
$secondary-color: #f8ab13;

$primary-text-color: #103371;
$secondary-text-color: #3c86cb;

$background-color: #f0fcff;

//font sizes
$banner-font-size: 70px;
$banner-font-weight: 700;



$heading-font-size: 52px;
$mobile-heading-font-size:40px;
$heading-mobile-font-size:40px;
$heading-font-weight: 800;

$sub-heading-font-size:36px;
$sub-heading-font-weight:600;


$section-font-size: 20px;
$section-mobile-size:16px;
$section-font-weight: 600;

$product-title-font-size: 25px;
$product-title-font-weight: 700;

$nav-link-font-size: 16px;
$nav-link-font-weight: 600;

$paragraph-font-size: 16px;
$parargraph-font-weight: normal;
$paragraph-line-height:25px;

$paragraph-font-color: #7a7a7a;

$thin-font-size:14px;


///button
$button-font-size: 16px;
$button-font-weight: 600;
$button-padding: 20px 40px 20px 40px;
$button-border-radius: 0px 30px 0px 30px;

$square-button-height: 45px;
$square-button-width: 45px;
$square-button-border-radius: 5px;
$square-button-font-size: 14px;

//card
$card-border-radius: 20px;
$card-padding: 70px 50px 50px;
$card-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);


