.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-image {
    height: 60vh;
    margin: 0;
    padding: 0;
    flex: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: $card-border-radius;
    }
  }

  .about-us-section-details {
    flex: 1;

    h3 {
      font-size: $section-mobile-size;
      font-weight: $section-font-weight;
      color: $secondary-color;
      margin: 10px;
    }

    h1 {
      font-size: $mobile-heading-font-size;
      font-weight: $heading-font-weight;
      color: $primary-text-color;
      margin: 0;
    }
    p {
      line-height: $paragraph-line-height;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-us-section {
    flex-direction: row;

    .about-us-section-details{
        h3{
            font-size: $section-font-size;
        }
        h1{
            font-size: $heading-font-size;
        }
    }
  }
}
