.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .about-image {
    height: 70vh;
    margin: 0;
    padding: 0;
    flex: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: $card-border-radius;
    }
  }

  .about-us-section-details {
    flex: 1;

    h3 {
      font-size: $section-mobile-size;
      font-weight: $section-font-weight;
      color: $secondary-color;
      margin: 10px;
    }

    h1 {
      font-size: $mobile-heading-font-size;
      font-weight: $heading-font-weight;
      color: $primary-text-color;
      margin: 0;
    }
    p {
      line-height: $paragraph-line-height;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    flex-direction: row;
    gap: 20px;

    .about-image {
      img {
        border-radius: 80px 0px 40px 0px;
      }
    }

    .about-us-section-details {
      h3 {
        font-size: $section-font-size;
      }
      h1 {
        font-size: $heading-font-size;
      }
    }
  }
}
