.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  p {
    line-height: $paragraph-line-height;
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .testimonial-details {
    span {
      color: $secondary-color;
      font-size: $section-font-size;
      font-weight: $section-font-weight;
    }
    h1 {
      font-size: $heading-mobile-font-size;
      font-weight: $heading-font-weight;
      color: $primary-text-color;
    }
  }

  .testimonies {
    background-color: #fff;
    .testimony {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      position: relative;
      overflow: hidden;
      box-shadow: $card-box-shadow;

      figure {
        padding: 0;
        margin: 0;
        height: 100px;
        width: 100px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      h4 {
        color: $primary-text-color;
        font-size: $section-font-size;
        margin: 0;
        padding: 5px;
      }
      p {
        font-size: $thin-font-size;
      }

      .pattern {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $primary-text-color;
        position: absolute;
        top: -100px;
        right: -100px;
      }

      .quote {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    .testimonial-container {
      flex-direction: row;
    }
  }
}
