.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-title {
    color: $secondary-color;
    font-size: $section-font-size;
    font-weight: $section-font-weight;
  }

  h1 {
    margin: 0;
    margin-top: 20px;
    font-size: $mobile-heading-font-size;
    font-weight: $heading-font-weight;
    color: $primary-text-color;
  }

  .blogs {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 300px;
      max-width: 600px;
      height: 800px;
      padding: 10px;
      overflow: hidden;
      cursor: pointer;

      figure {
        width: 100%;
        height: 50%;
        margin: 0;
        position: relative;

        span {
          position: absolute;
          top: 20px;
          left: 20px;
          padding: 5px 10px;
          background-color: $secondary-color;
          color: white;
          border-radius: 10px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
      .blog-details {
        h2 {
          font-size: $product-title-font-size;
          font-weight: $product-title-font-weight;
          color: $primary-text-color;
          margin: 10px 0px 10px 0px;
        }
        .published-details {
          display: flex;
          align-items: center;
          gap: 50px;
          span {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: $thin-font-size;
          }
        }
        p {
          line-height: $paragraph-line-height;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $primary-color;
          cursor: pointer;
          gap: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .blogs-container {
    h1 {
      font-size: $heading-font-size;
    }
  }
}
